<html>
    <style>
        img {
            width: 50px;
        }

        div {
            padding: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            padding: 0;
            border-spacing: 0; 
        }
        td {
            text-align: center;
            padding: 0;
            vertical-align: middle;            
        }

        table tr {
            border-collapse: collapse;
        }

        table tr td div {
            padding: 3px;
        }

        table.main {
            width: 100%;
           
        }

        table.main td {
            border: none;
            width: 50%;
        }

        table.main td table td table td {
            border: 1px solid black;
            width: auto;
            white-space: nowrap;
        }

        img.barcode {
            height: 30px;
            width: 250px;

        }

    </style>
    <body>
         <table class="main">
         {% set lastIndex = 0 %}
         {% for game in games %}
            {% if loop.index is odd %}
                <tr>
            {% endif %}
                <td style="padding: 10px; width: 50%;">
                    <div style="background-color: {{ game.age.color }}; border: 1px solid black;">
                        <table style="width: 100%;">
                            <td style="width: 20%;">
                                <div>
                                    <img src="{{ app.request.getSchemeAndHttpHost() }}/uploads/categories/{{game.category.logo}}" />
                                </div>
                            </td>
                            <td style="width: 60%;">
                                <table>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: auto">
                                                        <div>
                                                            {{game.Competency}}
                                                        </div>
                                                    </td>
                                                    <td style="width: auto">
                                                        <div>
                                                            {{game.Thematic | u.truncate(20, '...') }}                                                         
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table>
                                                <tr>
                                                    <td style="width: 33%">
                                                        <div>
                                                            {{game.AgeText | u.truncate(10, '...') }} 
                                                        </div>
                                                    </td>
                                                    <td style="width: 33%">
                                                        <div>
                                                            {{game.NumberPlayers | u.truncate(10, '...') }}
                                                        </div>
                                                    </td>
                                                    <td style="width: 33%">
                                                        <div>
                                                            {{game.Duration | u.truncate(10, '...')  }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 20%;">
                                <div>
                                    <img src="{{ app.request.getSchemeAndHttpHost() }}/uploads/material/{{game.material.logo}}" />
                                </div>
                            </td>
                        </table>
                        {% if game.Barcode is defined and game.Barcode is not empty %}
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 10%;">&nbsp;</td>
                                <td style="background: #FFF; width: 80%; text-align: center">
                                    <div style="padding: 3px">
                                        {{game.Barcode | barcode | raw}}
                                    </div>
                                </td>
                                <td style="width: 10%;">&nbsp;</td>
                            </tr>
                        </table>
                        {% endif %}
                    </div>
                </td>
            {% if loop.index is even %}
                </tr>
            {% endif %}
            {% set lastIndex = loop.index %}
         {% endfor %}
            {% if lastIndex % 2 == 1 %}
                {# Fermeture correct de la ligne #}
                    <td>
                        &nbsp;
                    </td>
                </tr>
            {% endif %}
         </table>
    </body>
</html>
